Django==4.1.4
django-cors-headers
daphne
channels
djangorestframework
djangorestframework_simplejwt
drf-extra-fields
pillow
asgiref
PyJWT
pytz
sqlparse
psycopg2-binary
gunicorn
requests
python-dotenv
pymysql
mysqlclient
django-environ
google-cloud-secret-manager
django-storages
google-auth
